body {
    font-family: Arial, sans-serif;
    background-image: url(lgpg.jpg);
    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 400px;
}
#registerForm,#loginForm{
    color: white;
}
.form-group {
    margin-bottom: 1rem;
}

h2.form-title {
    color: white;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
}
input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    font-weight: bolder;
    background-color: #78CAD2;
    
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}
button:hover {
    background-color: #007bff;
    color: black;
}
.toggle-form {
    text-align: center;
    margin-top: 1rem;
}
.toggle-form a {
    color: #007bff;
    text-decoration: none;
}
.toggle-form a:hover {
    text-decoration: underline;
}
.form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}
#loginForm {
    display: none;
}
